{% extends "base.html "%}

{% block content %}
<h2>Vender produto</h2>

<main style="width: 100%; height: 505px;">
    {% comment %} <form action="{% url 'store:criar_produtos' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label>title</label>
        <br />
        <label>descrição</label>
        <br />
        <label>preço</label>
        <br />
        <label>categoria</label>
        <br />
        <label>tipo</label>
        <br />
        <label>Mais informações</label>
        <br />
        <button type="submit" class"button">Create</button>
    </form> {% endcomment %}
</main>

{% endblock content %}