<nav class="navbar fixed-top navbar-expand-lg navbar-dark black scrolling-navbar">

    <div class="container">
      <a class="navbar-brand waves-effect" href="https://mdbootstrap.com/docs/jquery/">
        <strong class="green-text">Tech and Ecommerce</strong>
      </a>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          {% if request.path == "/inicio" %}
          <li class="nav-item active">
            <a class="nav-link waves-effect" href="{% url 'store:home' %}">Início</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'store:home' %}">Início</a>
          </li>
          {% endif %}

          {% if request.path == "/sobre-nos" %}
          <li class="nav-item active">
            <a class="nav-link waves-effect" href="{% url 'store:about_us'%}" target="_self">Sobre Nós</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'store:about_us'%}" target="_self">Sobre Nós</a>
          </li>
          {% endif %}

          {% if request.path == "/checkout" %}
          <li class="nav-item active">
            <a class="nav-link waves-effect" href="{% url 'store:checkout' %}" target="_self">Compra</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'store:checkout' %}" target="_self">Compra</a>
          </li>
          {% endif %}

          {% if request.path == "/produtos/criar" %}
          <li class="nav-item active">
            <a class="nav-link waves-effect" href="{% url 'store:criar_produtos' %}" target="_self">Vender Produto</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'store:criar_produtos' %}" target="_self">Vender Produto</a>
          </li>
          {% endif %}

        </ul>
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
            <a class="nav-link waves-effect">
              <span class="badge green z-depth-1 mr-1"> 1 </span>
              <i class="fas fa-shopping-cart"></i>
              <span class="clearfix d-none d-sm-inline-block"> Adicionar carrinho </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>