{% extends "base.html" %}

{% block content %}
  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <img src="{{ object.image.url }}" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Content-->
          <div class="p-4">

            <div class="mb-3">
              <a href="">
                <span class="badge green mr-1">{{ object.get_category_display }}</span>
              </a>

            <p class="lead">
              <span>R$ {{ object.price }}</span>
            </p>

            <p class="lead font-weight-bold">{{ object.title }}</p>

            <p>{{ object.description }}</p>

            <form class="d-flex justify-content-left">
              <!-- Default input -->
              <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px">
              <button class="btn btn-primary btn-md my-0 p" type="submit">Add to cart
                <i class="fas fa-shopping-cart ml-1"></i>
              </button>

            </form>

          </div>

        </div>

      </div>

      <div class="row d-flex justify-content-center wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 text-center">

          <h4 class="my-4 h4">Informações Adicionais sobre {{ object.title }}</h4>

          <p>{{ object.more_information }}</p>

        </div>
        <!--Grid column-->

      </div>
      
    </div>
  </main>
{% endblock content %}